* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-content {
    background-color: rgb(0, 0, 0);
}

/*************** Header ****************/

.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: .5em; 
    padding-top: .5em;      /* cambió margin por padding para que no afecte al background-color */
    background-color: #0008;    /* agrego para diferenciarlo en las paginas con background-image*/
}

.brand {
    display: flex;
    align-items: center;
}

#luz {
    animation: fadein 2s ease forwards;
    opacity: 0;
}

#camara {
    animation: fadein 2s ease forwards;
    opacity: 0;
    animation-delay: .5s;
}

#critica {
    animation: fadein 2s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.brand-logo {
    width: 5em;
}

.brand-name {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

.brand-name a {
    text-decoration: none;
    color: rgb(255, 255, 255);  
}

.menu {
    width: 500px;
}

.menu ul {
    margin: auto;
}

.menu ul li {
    list-style: none;
    display: inline;
}

.menu ul li a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
    color: rgb(174, 174, 174);
    padding: .9em;
    font-size: 1em;
}

.menu ul li a:hover {

    background-color: rgb(201, 201, 201);
    border-radius: 15%;
    color: rgb(0, 0, 0);
}

/* Fin Header */

/***************** Main *****************/

.main-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.peliculas, .series {
    margin: 0 auto;
    width: 98%;
    margin-top: 3em;
    background-color: rgba(51, 51, 51, 0.199);
    margin-bottom: 2em;
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.473);
    border-radius: 10px;
/*lo que sigue es para la pagina series porque comparten la clase */
    color: white;
    text-align: center;
}

.peliculas h3, .series h3{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 3em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(270px,100%),1fr));
    grid-auto-flow: dense;
    gap: 1em;
    padding: 0 10px;
}

.card {
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    width: 17rem;  
    /* margin-bottom: 20px; */
}

.card-img-top {
    width: 100%;  /* Asegura que la imagen cubra todo el ancho del contenedor */
    height: 400px;  /* Altura fija para todas las imágenes */
    object-fit: cover;  /* Asegura que las imágenes se redimensionen y recorten de manera adecuada */
}

.card-body {
    height: 6em;
    margin-bottom: -20px;
}

.card-title{
    font-weight: bold;
    text-align: center;
}
.card-text{
    font-size:15px;
    text-align: center;
    font-weight: bold;
}


/* .card {
    margin-left: auto;
    margin-right: auto;
} */
/* Estilo para el overlay */

.sinopsis{
    text-align: center;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(252, 5, 5, 0.944); /* Fondo oscuro semitransparente */
    color: white;
    opacity: 0; /* Por defecto, el overlay está oculto */
    transition: opacity 0.5s; /* Transición suave para la opacidad */
}
.overlay-text {
    color: #faf8f8;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    transform: translateY(100%); /* Inicialmente oculto debajo */
    transition: transform 0.3s ease; /* Animación de transición */
    margin-top: 10px;
}
/* Estilo para mostrar el overlay cuando se pasa el ratón sobre la imagen */
.card:hover .overlay {
    opacity: 1; /* Mostrar el overlay al pasar el ratón */
}

.card:hover .overlay-text {
    transform: translateY(0); /* Mostrar texto personalizado al hacer hover en la tarjeta */
}




/* .card :hover {
    background-color: rgb(170, 170, 170);
} */

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.banner img{
    width:100%;
    border-radius: 3px;
}

.banner1 img{
    width: 100%;
    
}
/* Fin Main */

/***************** Footer ******************/

footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(170, 170, 170);
}

.redes a{
    transition: all .3s ease;
}

.redes a:hover{
    transform: scale(1.5);
}

.copy {
    color: white;
}

.legal a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.redes p {
    color: rgb(170, 170, 170);
}

.legal, .redes {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio horizontalmente */
    margin-top: 1em;
}

.legal p, .redes p {
    margin: 0 10px; /* Añade un margen horizontal entre los párrafos */
}

.redes a {
    margin: 0 5px; /* Añade un margen horizontal entre los iconos */
}

/* Fin Footer */

@media screen and (width<600px) {
    .peliculas h3 {
        font-size: 2em;
    }

    .brand-name a {
        font-size: 1em;
    }

    .brand-logo {
        width: 3.5em;
    }
}




/* ************************************pagina acerda de****************************************** */



.acercaDe h4{
    color: white;
    margin-left: 60px;
    margin-top: 80px;
    text-align: center;
}
.acerca{
    margin: 50px 30px 160px 50px;
    color: white;
    text-align: center;
    font-size: 20px;

    background-color: rgba(0, 0, 0, 0.527);
    padding: 30px;
    border-radius: 15px;
    
}

.about {
    background-image: url(../img/acercade/movie-background-collage.jpg.png);
    background-size: cover;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    
    transition: all 2.5s ease-out;
}

.image-container img:hover{
    transform: scale(1.4);
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 200px; */
    grid-auto-flow: dense;
    margin: 10px 20px 60px 20px;
}
.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery .tall {
    grid-row: span 2;
}


.estudiantes{
    text-align: center;
    font-size: 20px;
    color: white;
}

@media screen and (width<800px){
    .acerca {
        font-size: 1em;
    }
}

/********** REGISTRO ***********/

.body-content-registro {
    background-image: url(/img/acercade/background-collage-portait.jpg.png);
    background-size: cover;
    color: rgb(161, 161, 161)
    
}

.main-content-registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px;
}


.formulario{
    width: 50vw;
    max-width: 600px;
    background-color: #333d;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.5);;
    padding: 20px 10px ;
}

@media screen and (width < 900px) {
    .formulario{
        width: 70vw;
    }
}

@media screen and (width < 700px) {
    .formulario{
        width: 90vw;
    }
}

@media screen and (width < 480px) {
    .formulario {
        font-size: smaller;
    }
}

.formulario h2{
    text-align: center;
    color: #f8f8f8;
    padding-bottom: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}

.formulario h3{
    font-size: 1em;
    margin-left: 10px;
    margin-top: 40px;
    line-height: 0;
    font-weight: bold;
}

input {
    /* width: 100%; */
    background:none;
    color: white;
    border: none;
    border-bottom: 1px solid #8b8b8b63;
    outline: 0;
}

tr input {
    width: 100%;
}

label {
    margin: 10px 10px;
    
}

.boton_registro {
    background-color: #8b8b8b9c;
    padding: 5px;
    border-radius: 5px;
    border: 2px #cacaca outset;
    color: #cacaca; 
    transition: all .5s ease;
    box-shadow: 0 8px 16px 0 #333d;
    text-shadow: 0 1px 1px #111;  
}

.div-boton-registro{
    display: flex;
    justify-content: center; 
}

.boton_registro:hover{
    background-color: #575757;
    color: white;
    
}

.formulario textarea{
    width: 100%;
    background-color: rgba(139, 139, 139, 0.13);
    border-color: #8b8b8b;
    border-radius: 6px;
    color: rgb(255, 255, 255);
}

table {
    width: 100%;
}

td {
    margin: 0;
    padding: 7px 5px;
    vertical-align: top;
}

td#bd {
    vertical-align: bottom;
    line-height: 1;
}

#bdi {
    text-align: center;

}

#div_calificacion {
    text-align: center;
}

select {
    background-color: #575757;
    color: #cacaca;
    margin-top: 15px;
}

option:disabled {
    color: rgb(143, 143, 143)
}

#meeting {
    text-align: center;
}

textarea {
    padding: 5px 10px;
    
}